body{

    background-color: #04F9F2;
    margin: 0;
    top: 0;
    box-sizing: border-box;
    place-items: center;
}

header{

    text-align: center;
    border: none;
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    background-color: aquamarine;
    padding-top: 2px;
}


main{

    text-align: center;
    box-shadow: (1vmax, 1vh,1vmax,1vh);
    margin-top:2px;

} 

.Conteiner{
    
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
}

 input{

   margin-top: 4px;
   font-size: large;
   height: 25px;
   width: 40%;

 
}

input:focus{

    background-color: antiquewhite;
}

button{

    text-align: center;
    height: 30px;
    color:white;
    border-radius: 2px;
    width: 41%;
    background-color:#0091E7;
    cursor: pointer;
    border: none;
    
}
#Butt{
text-decoration: none;
}

/**<----Resume Page-->**/


